<%= form_for :query, url: recipes_browse_path, method: :get do |f| %>
    <%= f.text_field :text, value: @query, placeholder: 'Enter search terms' %>
    <%= f.submit 'Search', class: 'btn btn-default' %>

    <div class="row">
      <ul class="pagination">
        <% @pagecount.times do |i| %>
            <%= render partial: 'partials/paginate_link', locals: {form: f, page: i+1} %>
        <% end %>
      </ul>
    </div>

    <%= render 'partials/thumbnails_view' %>

<% end %>