<%= form_for :query, url: recipes_browse_path, method: :get do |f| %>

    <%= f.text_field :text, value: @query, placeholder: 'Enter search terms' %>
    <%= f.submit 'Search', class: 'btn btn-default' %>

    <ul class="pagination" style="margin-left: 30px">
      <% @pagecount.times do |i| %>
          <%= render partial: 'partials/paginate_link', locals: {form: f, page: i+1} %>
      <% end %>
    </ul>


    <div class="row">
      <%= render 'partials/thumbnails_view' %>
    </div>

<% end %>