<nav>

  <div class="row text-center"><%= current_user[:username] %></div>
  <br>
  <div class="row text-center"><%= link_to 'Recipes to try', '/recipes/recipes_to_try' %></div>
  <div class="row text-center"><%= link_to 'My recipes', '/recipes/my_recipes' %></div>
  <div class="row text-center"><%= link_to 'Browse', '/recipes/browse' %></div>
  <br>
  <div class="row text-center"><%= link_to 'Add recipe', '/recipes/new' %></div>
  <div class="row text-center"><%= link_to 'Suggest recipe', '/recipes/suggest' %></div>
  <br>
  <div class="row text-center"><%= link_to 'Home', '/' %></div>
  <div class="row text-center"><%= link_to 'About', '/about' %></div>
  <br>
  <div class="row text-center"><%= link_to 'Change password', '/users/edit' %></div>
  <div class="row text-center"><%= link_to 'Log out', '/logout', method: :delete %></div>

</nav>