<h1>Sign up</h1>
<%= form_for @user do |f| %>

    <div class="signup-panel">
      <div class="row signup-panel-row">
        <div class='col-xs-2'>
          <%= f.label :username, 'User name' %>
        </div>
        <div class='col-xs-2 text-center'>
          <%= f.text_field :username %>
        </div>
      </div>


      <div class="row signup-panel-row">
        <div class='col-xs-2'>
          <%= f.label :email, 'E-mail address' %>
        </div>
        <div class='col-xs-2 text-center'>
          <%= f.email_field :email %>
        </div>
      </div>


      <div class="row signup-panel-row">
        <div class='col-xs-2'>
          <%= f.label :password %>
        </div>
        <div class='col-xs-2 text-center'>
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="row signup-panel-row">
        <div class='col-xs-2'>
          <%= f.label :password_confirmation, 'Retype password' %>
        </div>
        <div class='col-xs-2 text-center'>
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div class="row signup-panel-row">
        <div class='col-xs-2'></div>
        <div class="col-xs-2">
          <%= f.submit 'Sign up', class: 'btn btn-primary center-block' %>
        </div>
      </div>
    </div>

<% end %>