<!DOCTYPE html>
<html>
<head>
  <title>Homestaurant</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col-xs-2">
  <div class="col-xs-9 navigation-bar">
    <%= if logged_in
          render 'partials/logged_in_navbar'
    else
        render 'partials/logged_out_navbar'
    end %>
  </div>

</div>

<div class="col-xs-10">
  <%= yield %>
</div>

</body>
</html>
